<?php

$database_type = "mysql";
$database_default = "{{ cacti_db_name }}";
$database_hostname = "{{ cacti_db_host }}";
$database_username = "{{ cacti_db_user }}";
$database_password = "{{ cacti_db_passwd }}";
$database_port = "3306";
$database_ssl = false;

?>